.container {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  width: 200px;
}
.title,
.authors,
.publisher,
.datetime,
.price {
  line-height: 1.5;
  /* border: 1px solid red; */
  margin: 0;
  text-align: center;
  color: gray;
}
.title,
.price {
  font-weight: bold;
  color: black;
}
.thumbnail {
  width: 150px;
  height: 200px;
  /* border: 2px solid; */
}
