form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
}
input {
  margin-right: 10px;
}

input[type="image"] {
  width: 20px;
  height: 20px;
}
p {
  margin-left: 50px;
}
.display {
  display: flex;
  flex-wrap: wrap;
}
