.App {
  padding: 0;
  padding-bottom: 40px;
  width: 800px;
  margin: 0 auto;
}
form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;
}
input {
  margin-right: 10px;
}

input[type="image"] {
  width: 20px;
  height: 20px;
}
p {
  margin-left: 50px;
}
.display {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: 12px;
  /* border: 1px solid; */
}
